.body {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.game_container {
  width: 100%;
  max-width: 380px;
  padding: 40px 30px;
  background-color: var(--secondary);
  position: relative;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 110px 110px 110px;
  grid-template-rows: 110px 110px 110px;
}

.cajas {
  background-color: var(--primary);
  height: 101px;
  width: 101px;
}

.title {
  color: var(--font-color);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.button {
  background-color: var(--primary);
  height: 101px;
  width: 101px;
  color: var(--font-color);
  border: 2px solid var(--primary);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.buttonWIN {
  background-color: var(--primary);
  height: 101px;
  width: 101px;
  color: var(--font-color);
  border: 4px solid rgb(0, 201, 0);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.buttonERROR {
  background-color: var(--primary);
  height: 101px;
  width: 101px;
  color: var(--font-color);
  border: 4px solid red;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}