:root {
  --primary: #1C2127;
  --secondary: #181C20;
  --accent: #456EEB;
  --font-color: #ffffff;
}

.chat {
    border: 8px;
    border-color: var(--secondary);
    border-style: solid;
    border-radius: 5px;
    width: 33%;
    height: 230px;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
}

.chatMessagesContainer {
    height: 85%;
    width: 100%;
    background-color:var(--primary);
    overflow-y: scroll;
}

.chatMessagesText {
    color: white;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    border-bottom: solid 2px #232428;
    width: 100%;
    overflow: hidden;
}

.chatInputMessage {
    border-radius: 5px;
    background-color: var(--primary);
    border: none;
    width: 85%;
    margin-left: 5px;
    color: white;
}

.chatInputMessage:focus {
    outline: none;
}

.form {
    border-top: var(--secondary) solid 5px;
}

.sendButtom {
    color: var(--font-color);
    border-radius: 4px;
    font-weight: bold;
    background-color: var(--accent);
    border: 2px solid var(--primary);
    font-size: 14px;
    padding: 4px;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: var(--accent);
  color: var(--font-color);
  border: 2px solid var(--primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
  transition: all 0.3s;
}